<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <div class="thread">
      <h3 class="title">Judul Thread</h3>

      <div class="meta">20 April 2020 Oleh Irwanto Wibowo</div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>

      <div class="count">
        10 Obrolan
      </div>
      <div style="clear: both"></div>
    </div>

    <div class="thread">
      <h3 class="title">Judul Thread</h3>

      <div class="meta">20 April 2020 Oleh Irwanto Wibowo</div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>

      <div class="count">
        10 Obrolan
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>
