.meta {
  margin-bottom: 10px;
}

.content {
  margin-bottom: 10px;
  text-align: justify;
}

.count {
  float: right;
  margin-bottom: 10px;
}

.thread {
  margin-bottom: 50px;
}

.action {
  float: left;
  margin-bottom: 15px;
}

.action-edit {
  float: none;
  margin-bottom: 15px;
}

.add-thread {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 15px;
}
